@page "/"

<h3>Employee List</h3>
<input type="checkbox" id="sfInput" @bind="ShowFooter"/>
<label for="sfInput">Show Footer</label>
@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        @foreach (Employee emp in Employees)
        {
            <DisplayEmployee Employee="emp" ShowFooter="ShowFooter"></DisplayEmployee>
        }
    </div>
}



