@page "/"

@inject HttpClient _httpClient

<PageTitle>Index</PageTitle>

<h3>Test HTTP Client</h3>

<MudButton OnClick="GetTestEventHandler">Push to Test</MudButton>
<MudText>@message</MudText>

@code {
    string url = "api/HttpTriggerTest";
    string message = string.Empty;
    async Task GetTestEventHandler()
    {
        var response = await _httpClient.GetAsync("api/HttpTriggerTest");
        message = await response.Content.ReadAsStringAsync();
    }
}
